body {
    background-image: url("https://cdn.discordapp.com/attachments/974388905774309396/1016786537859534868/unknown.png");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;

    color: white;
    border-color: white;
}

h1 {
    text-align: center;
    border-bottom-style: solid;
}