body {
    background-image: url("https://cdn.discordapp.com/attachments/950078786391666729/1016007266916376586/3d-saul-saul-goodman.gif");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

    color: white;
    border-color: white;
}

h1 {
    text-align: center;
    border-bottom-style: solid;
}
